*{
    font-family: arial;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1140px;
    margin: auto;
}
.bar{
    background-color: #39aae1;
    height: 3px;
    width: 50px;
    margin-top: -10px;
    margin-bottom: 20px;
}
/*CSS DO CABEÇALHO*/

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.header-menu-mobile{
    display: none;
}
header ul {
    display: flex;
    list-style: none;
}
header a {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px;
    color: #555;
}
header a:hover,
header .active {
    background-color: #39aae1;
    color: #fff;
}

/* CSS DO BANNER PRINCIPAL*/

.banner {
    background-image: url(../images/img1.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 120px);
}
.banner-title{
    padding-left: 15px;
    margin-top: 80px;
    max-width: 350px;
}
.banner-title h1{
    font-size: 70px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}
.banner-title p{
    font-size: 24px;
    color: #fff;
    margin-top: -20px;
    text-shadow: 1px 1px 2px #000
}
.banner-table{
    display: flex;
    height: auto;
    color: #fff;
}
.banner-table p{
    font-size: 14px;
}
.banner-table a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px;
    
}
.banner-table a:hover{
    background-color: #fff;
    color: #2b4c99;
    border: 0;
}
.banner-table-content{
    flex: 1;
    padding: 0px 25px;
}
.banner-table .table-1{
    background-color: #39aae1;
}
.banner-table .table-2{
    background-color: #0079c7;
}
.banner-table .table-3{
    background-color: #2b4c99;
}
.banner-table .hour:last-child{
    margin-bottom: 15px;
}

.banner-table .hour{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
}

/*SECTION*/

.news{
    display: flex;
    justify-content: space-between;
}
.notices{
    display: grid;
    grid-template-columns: auto auto;
}
.notices a{
    text-decoration: none;
    color: #000;
}
.notice {
    margin-right: 40px;
    width: 320px;
    margin-bottom: 30px;
    border-bottom: 1px solid #bbb;
}
.notice-info{
    display: flex;
    margin-bottom: 30px;
}
.notice-date{
    background-color: #2b4c99;
    color: #fff;
    padding: 5px;
    font-size: 14px;
}
.notice-number{
    background-color: #0079c7;
    color: #fff;
    padding: 5px;
    font-size: 14px;
    margin-left: 3px;
}
.notice img{
    width: 320px;
}
/*FOOTER*/
/*SECTION*/
footer {
    background-color: #2c2c2c;
}
.footer{
    display: flex;
    color: #fff;
}
.feature{
    flex: 1;
    padding: 30px;
}
.feature h1{
    font-weight: normal;
    margin: 0;
}
.feature.n1{
    background-color: #39aae1;
}
.feature.n2{
    background-color: #0079c7;
}
.feature.n3{
    background-color: #2b4c99;
}

/*SECTION*/

.footer h1{
    color: #fff;
}
footer p{
    font-size: 14px;
    font-weight: normal;
    margin: 10px 0 0 0;
    color: #fff;
}
.footer-data{
    flex: 1;
    margin-top: 15px;
    padding-right: 30px;
}
.footer-data-call{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 12px;
    margin-top: 15px;
}
.copyright {
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 20px;
    border-top: 1px solid #5c5c5c;
    padding-top: 10px;
}


@media (max-width: 800px) {
    header {
        height: auto;
    }
    header nav{
        display: none;
    }
    header ul{
        flex-direction: column;
    }
    .header-menu-mobile{
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 15px;
    }
    .menu-line {
        height: 4px;
        background-color: #39aae1;
    }
    .banner-content{
        height: auto;
    }
    .banner-table {
        flex-direction: column;
    }
    .banner-table a{
        position: relative;
        margin-bottom: 15px;
    }
    .news{
        flex-direction: column;
        margin-left: 15px;
    }
    .notices{
        grid-template-columns: auto;
    }
    .notice {
        width: auto;
    }
    .notice img {
        width: 100%;
    }
    .footer{
        flex-direction: column;
        margin-top: 15px;
    }
    .footer-data{
        margin-left: 15px;
    }
    .footer-data-call {
        justify-content: flex-start;
    }
    .footer-data-contact{
        margin-left: 50px;
    }
}
@media (max-width:425px){
    .banner .banner-title h1 {
        font-size: 50px;
    }
    .banner .banner-title p {
        font-size: 20px;
    }
}

 
